/* for reflection */
.swiper .swiper-slide{
    -webkit-box-reflect: below 10px linear-gradient(to bottom ,transparent, transparent,  transparent, rgba(0,0,0,0.24));
}


/* for startup slides css */
.slides{
    @apply w-2/3  sm:w-11/12 md:w-10/12 h-32 text-lg sm:text-base lg:text-lg  xl:text-xl grid place-items-center  cursor-pointer border-b-4 rounded-lg bg-gradient-to-t from-blond/20  text-center px-3 py-2 self-end  duration-500 delay-100 ;
    /* @apply w-2/3  sm:w-11/12 md:w-10/12 h-36 text-lg sm:text-base lg:text-lg  xl:text-xl grid place-items-center space-y-3 cursor-pointer border-b-4 rounded-lg bg-gradient-to-t from-navy/40  text-center px-3 py-3 self-end  duration-500 delay-100 ; */
}

.slide-active{
    @apply h-[28rem] sm:h-[32rem] lg:h-[28rem] ;
}

.logo-cir{
    @apply  justify-center mt-1 w-[3rem] h-[3rem] sm:w-[5rem] sm:h-[5rem] rounded-full  object-cover overflow-hidden border-2 border-blond ease-in-out duration-200  sm:delay-200;
} 
/* .logo-cir{
    @apply  justify-center mt-4 min-w-[3rem] min-h-[3rem] max-h-[3rem] max-w-[3rem] sm:w-[5rem] sm:h-[5rem] rounded-full  object-cover overflow-hidden border-2 border-blond ease-in-out duration-200  sm:delay-200;
}  */

.logo-active-cir{
    @apply h-[8.5rem] w-[8.5rem]  sm:w-[7rem] sm:h-[7rem] md:w-[7rem] md:h-[7rem]  lg:h-[8rem] lg:w-[8rem] ease-in-out duration-200  sm:delay-200;
}

/* .logo-active-cir{
    @apply min-h-[8.5rem] min-w-[8.5rem] max-h-[8.5rem] max-w-[8.5rem] sm:min-w-[7rem] sm:min-h-[7rem] md:min-w-[7rem] md:min-h-[7rem]  lg:min-h-[8rem] lg:min-w-[8rem] ease-in-out duration-200  sm:delay-200;
} */

